*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2c7274;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.7vmin;
}

.box{            /*krishna youcan use hover in boxes */
    height: 18vmin;
    width: 18vmin;           
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 8vmin;
    color: #b0423e;
    background-color: #bebe78;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#reset-button:hover{
    font-size: 1.01rem;
   color: white;
   cursor: pointer;
}

#new-btn{
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #191913;
        color: #fff;
        border-radius: 1rem;
        border: none;
}

#msg{
    color: #bebe78;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hide{
    display: none;
}